absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
addict @ file:///home/conda/feedstock_root/build_artifacts/addict_1636818143388/work
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
autocommand==2.2.2
Automat==24.8.1
backcall==0.2.0
backports.tarfile==1.2.0
beautifulsoup4==4.14.2
blinker==1.8.2
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
buildtools==1.0.6
causal-conv1d==1.4.0
ccimport==0.4.4
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1723018376978/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click==8.1.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.2.3
ConfigArgParse==1.7.1
constantly==23.10.4
contourpy==1.1.1
cumm-cu116==0.4.11
cycler==0.12.1
dash==3.2.0
decorator==5.2.1
docopt==0.6.2
efft @ file:///fs/nexus-scratch/tuxunlu/git/PRE-Mamba/libs/efft/python
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1714285159399/work
executing==2.2.1
faiss==1.7.4
faiss-gpu-cu11==1.8.0.2
fastjsonschema==2.21.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
fire==0.7.1
Flask==3.0.3
fonttools==4.57.0
frozenlist==1.5.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1729608855534/work
furl==2.1.4
fvcore @ file:///home/conda/feedstock_root/build_artifacts/fvcore_1671623667463/work
gdown==5.2.0
greenlet==3.1.1
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1713388282847/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py @ file:///croot/h5py_1715094721489/work
hf-xet==1.2.0
hpack==4.0.0
huggingface-hub==0.36.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
hyperlink==21.0.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources==6.4.5
incremental==24.7.2
inflect==7.3.1
iopath @ file:///home/conda/feedstock_root/build_artifacts/iopath_1723846728822/work
ipython==8.12.3
ipywidgets==8.1.8
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
lark==1.3.1
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1706862843045/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1729059767967/work
llvmlite==0.41.1
mamba-ssm==2.2.2
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899923320/work
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl @ file:///opt/conda/conda-bld/mdurl_1659716024347/work
mkl-service==2.4.0
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.1.0
narwhals==1.42.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.0
ninja==1.13.0
numba==0.58.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1687808301083/work
nvidia-cuda-runtime-cu11==11.8.89
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
open3d==0.18.0
orderedmultidict==1.0.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.0.3
parso==0.8.5
pccm==0.4.16
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
plotly==6.3.1
plyfile @ file:///home/conda/feedstock_root/build_artifacts/plyfile_1724087904466/work
pointops==1.0
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1717777836653/work
portalocker @ file:///croot/portalocker_1682958299664/work
prompt_toolkit==3.0.52
propcache==0.2.0
protobuf==4.25.3
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==3.0.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
Pygments @ file:///croot/pygments_1684279966437/work
pyparsing==3.1.4
pyquaternion==0.9.9
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.9.0.post0
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1709669327590/work
pytorch-wavelets==1.3.0
pytorch3d==0.7.5
pytz==2025.2
PyWavelets==1.4.1
PyYAML @ file:///croot/pyyaml_1728657952215/work
redo==3.0.0
referencing==0.35.1
regex==2024.11.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
retrying==1.4.2
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1730592237829/work/dist
rpds-py==0.20.1
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1722937851910/work
scikit-learn==1.3.2
scipy==1.10.1
SharedArray @ file:///home/conda/feedstock_root/build_artifacts/sharedarray_1721416846216/work
simplejson==3.20.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.7
spconv-cu116==2.3.6
SQLAlchemy==2.0.44
stack-data==0.6.3
sympy==1.13.3
tabulate @ file:///croot/tabulate_1701354810597/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1723713090305/work/tensorboard-2.17.1-py3-none-any.whl#sha256=253701a224000eeca01eee6f7e978aea7b408f60b91eb0babdb04e78947b773e
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1695425377577/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=11751b28e44b2a8840545cbda78535d37ed70e6cc0838e075f96451c4110e79a
tensorboardX @ file:///home/conda/feedstock_root/build_artifacts/tensorboardx_1692548726750/work
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1704357939450/work
threadpoolctl==3.5.0
timm @ file:///home/conda/feedstock_root/build_artifacts/timm_1729182621201/work
tokenizers==0.20.3
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
torch==2.1.0+cu121
torch-cluster @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-cluster_1656604322802/work
torch-geometric==2.6.1
torch-scatter @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-scatter_1669298837499/work
torch-sparse @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-sparse_1671714918898/work
torchaudio==2.1.0+cu121
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1731096877504/work
torchvision==0.16.0+cu121
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1732497199771/work
traitlets==5.14.3
transformers==4.46.3
triton==2.1.0
Twisted==25.5.0
typeguard==4.3.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2025.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
wcwidth==0.2.14
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1729884156362/work
widgetsnbextension==4.0.15
yacs @ file:///tmp/build/80754af9/yacs_1634047592950/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1690387939953/work
yarl==1.15.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
zope.interface==7.2
zstandard @ file:///home/conda/feedstock_root/build_artifacts/zstandard_1667296101734/work
